.section{
    display: flex;
    width: 99vw;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    contain: content;
    margin-left: 2rem;
    margin-right: 2rem;
}
.list ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
}

.gif img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10rem;
}

.gif .icon{
    font-size: 2rem;
    color: green;
}