.section{
    display: grid;
    width: 100vw;
    height: 10vh;
    align-items: center;
    contain: content;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
.list ul{
    display: flex;
    align-items: center;
    justify-content:end;
    list-style: none;
    gap: 2rem;
}
.list ul li {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.gif img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10rem;
}

.gif .icon{
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    color: green;
}