.section{
    padding: 1rem;
}

.home{
    display: grid;
    width: 98vw;
    height: 10vh;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.gif img{
    height: 5rem;
}

.list{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.list ul li{
    list-style: none;

}

.list ul li a{
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.activities{
    display: grid;
    height: 100%;
    border-radius: .5rem;
    align-items: center;
    padding: 1rem;
    grid-template-columns: repeat(5, 1fr);
    background: rgba(230, 230, 230, 0.651);

}

.activities button{
    width: 12rem;
    height: 14rem;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius:1rem;
    padding: 1rem;
    margin-left: 3rem;
    background:  rgba(0,91,255,1) ;
    cursor: pointer;
}


.activities a{
    text-decoration: none;
    color: white;

}